:root {
    --main-bg-color: #110f20;
    --input-color: #282246;
    --button-bg-active: #1b172f;
    --button-bg: #8c52ff;
}

body {
    background-color: var(--main-bg-color);
    color: #ffffff;
    padding-top: 70px;
}

.bg-light {
    background-color: var(--input-color) !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: var(--button-bg-active);
    border-radius: 50rem;
}

.navbar-light .navbar-brand {
    color: #ffffff;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
}

.nav-link:focus, .nav-link:hover {
    color: #ffffff;
}

.navbar-light .navbar-toggler {
    color: #ffffff;
    border-color: #ffffff;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.text-muted {
    color: rgba(255, 255, 255, 0.6) !important;
}


.container {
    border: 3px solid var(--input-color);
    border-radius: 0.5rem;
}

.form-control {
    border: 0;
    border-radius: 0;
    color: #ffffff;
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
}

.form-control:focus {
    color: #ffffff;
    background-color: transparent;
    border-color: var(--button-bg);
    box-shadow: none;
}

.form-check-input:focus {
    box-shadow: none;
    border: 0;
}

.form-check-input {
    background-color: var(--input-color);
}

.form-check-input:checked {
    background-color: var(--button-bg);
    border-color: var(--button-bg);
}

.btn-primary {
    color: #fff;
    background-color: var(--button-bg);
    border-color: var(--button-bg);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--input-color);
    border-color: var(--input-color);
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: var(--input-color);
    border-color: var(--input-color);
    box-shadow: none;
    outline: none;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--input-color);
    border-color: var(--input-color);
}

a {
    color: var(--button-bg);
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.breadcrumb {
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin: 1rem;
    min-height: 100px;
    border: 1px solid var(--button-bg);
    border-radius: 1rem;
    background-color: var(--button-bg-active);
}

.breadcrumb-item {
    text-transform: capitalize;
}

::-webkit-scrollbar {
	width: 10px;
}
  
::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: var(--button-bg);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--button-bg);
}

.dropdown-menu {
    background-color: var(--input-color);
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--button-bg);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #1e2125;
    background-color: var(--button-bg);
}

.dropdown-menu li {
    cursor: pointer;
}

.language-pt {
    background-image: url(../images/languages/1.png);
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    cursor: pointer;
}

.language-en {
    background-image: url(../images/languages/2.png);
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    cursor: pointer;
}

.language-es {
    background-image: url(../images/languages/3.png);
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    cursor: pointer;
}